<div class="container">

  <div><span class="title">Empresa</span></div>

  <!-- botoes -->
  <div>
    <button class="control_button">Editar empresa</button>
    <button class="control_button">Gestao de filiais</button>
    <button class="control_button">Faixas salarial</button>
    <button class="control_button">job level</button>
  </div>

  <!-- painel de informações -->
   <div class="line_panel">
    <div class="panel">
      <span class="title"><strong>Nome da empresa</strong></span>
      <span>Meu RH 360</span>
    </div>
    <div class="panel">
      <span class="title"><strong>CNPJ da empresa</strong></span>
      <span>00.000.000/0001-00</span>
    </div>
    <div class="panel">
      <span class="title"><strong>Nome do administrador</strong></span>
      <span>Carlos Castro Administrador</span>
    </div>
   </div>

   <div class="line_panel">
    <div class="panel">
      <span class="title"><strong>CPF do administrador</strong></span>
      <span>000.000.000-00</span>
    </div>
    <div class="panel">
      <span class="title"><strong>E-mail</strong></span>
      <span>email.com.br</span>
    </div>
    <div class="panel">
      <span class="title"><strong>Telefone</strong></span>
      <span>(00) 0000-0000</span>
    </div>
   </div>


   <div class="line_panel">
      <div class="panel">
        <span class="title"><strong>CEP</strong></span>
        <span>00000-000</span>
      </div>
      <div class="panel">
        <span class="title"><strong>Endereco</strong></span>
        <span>Rua Exemplo exemplar teste meu RH 360</span>
      </div>
   </div>

</div>
